/* Tiled trees background image */
body{
    background-image: url(../images/trees.png);

    /* Reponsive margin to keep footer 20% view height  */
    margin-bottom: 20vh;
}

/* Navbar container */
.container.container-nav-bar{
    padding: 0px;
}
    
/* Main content container */
.container.main-content{
    background-color: #f1f1f1;
    padding: 20px;
}

.container>.row>.col-md-6>img{
    margin-bottom: 50px;
}

.footer{
    background-color: #2c3e50;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;

    /* Align text between top and bottom of footer */
    line-height: 8vh; 
    height: 8vh; 

}

/* Footer text */
footer{
    color: #cccccc;
}

h2,
h4{
    color: #34495e;
}

html{
    position: relative;
    min-height: 100%;
}

/* Aligns end of navlinks flush to right side of container */
a.nav-link.nav3{
    padding-right: 0;
}

.nav-link{
    text-decoration: none;
    color: #777777;
    line-height: 50%;
}

/* Navbar / Header */
.navbar.navbar-light.bg-light{
    padding: 0px;
    width: 100%;
}

/* Dawson Hensel h1 text in navbar */
.navbar-brand.mb-0.h1{
    color: #ffffff;
    background-color: #2c3e50;
    padding: 15px;
    height: 100%;
    margin: 0;
}

/* Navbar links borders*/
.nav-item:nth-child(-n+2){
    border-right: solid 1px #cccccc;
}

/* Wrapper for portfolio images */
.photo-grid-img{
    object-fit: cover;
    margin: 5px;
}

.photo-grid-img:hover {
    opacity: 75%;
    transition-duration: .25s;
}

/* Text w/ rectangle background over portfolio images */ */
.photo-text a{
}


@media screen and (max-width: 640px) {
    /* Navbar container */
    .container.container-nav-bar{
        /* Remove extra spacing on sides */
        padding: 0px;
        margin: 0px;
        width: 100%;

    }
    /* Main content container */
    .container.main-content{
        /* Adds margin to left and right so content isn't flush with walls */
        max-width: 90%;
}
    /* Navbar */
    .navbar.navbar-light.bg-light{
        width: 100%;
    }
    /* Navbar "Dawson Hensel" text */
    .navbar-brand.mb-0.h1 {
      text-align: center;
      float: none;
      width: 100%;
    }
    /* Navbar links */
    ul.nav.justify-content-end{
        width: 100%;

        /* ONLY used !important tag due to bootstrap forcing me to */
        justify-content: center !important;
    }
  }

  /* Fixes fake margin being added to navbar when between 640 and 575 px */
  @media (min-width: 576px) {
    .container{
        max-width: 640px;
    }
}

/* Sets max size of container to comply with HW requirement */
@media (min-width: 980px) {
    .container{
        max-width: 980px;
        margin-left: 40px;
        margin: 0 auto;
    }
}
